.form-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;
  .image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
  }
  .card {
    width: 600px;
  }
}
